@import '~bootstrap';
@import '@fortawesome/fontawesome';

$dark-blue: #202c60;
$mint: #12b199;
$gray: #e9e9e9;

.mint{
    color: $mint;
}

.dark-blue{
    color: $dark-blue;
}

.dark-blue-bg{
    background-color: $dark-blue;
}

.white{
    color: white;
}

.h-roboto{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Bebas Neue', cursive;
    font-style: normal;
    font-weight: 400;
}

.pl-7{
    padding-left: 7vw;
}

.pr-7{
    padding-right: 7vw;
}

.section-title {
    color: $dark-blue;
    font-size: 72px;
    display: block;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        bottom: 0px;
        left: 0px;
        width: 150px;
        height: 10px;
        background-color: $mint;
    }
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    header {
        position: fixed;
        width: 100%;
        background-color: white;
        z-index: 999;
        top: 0;
        left: 0;
        right: 0;

        .navbar{
            font-weight: 600;

            .navbar-nav{
                width: 100%;
                justify-content: space-between;

                .nav-item{
                    padding: 0 8px;

                    .nav-link{
                        color: $dark-blue;
                        padding: 0;

                        &:hover{
                            color: $mint;
                            transition: 0.3s ease;
                        }
                    }
                }
            }
        }
    }

    .slider{
        height: 100vh;
        padding-top: 91px;

        .slider-img{
            position: absolute;
            bottom: 0;
            right: 0;
            width: auto;
            max-height: 100%;
        }

        .slider-title{
            font-size: 60px;
            line-height: 60px;
            z-index: 100;

            .underline{
                height: 20px;
                width: 250px;
                background-color: $mint;
                margin-top: 20px;
            }
        }

        .right-section{
            h1{
                font-size: 70px;
                line-height: 70px;
            }
        }


        button{
            border: 2px solid $mint;
            color: white;
            padding: 15px;
            background-color: $dark-blue;

            &:hover{
                background-color: $mint;
                color: $dark-blue;
                transition: 0.3s ease;
            }
        }
    }
}

.training {
    margin-top: 40px;

    .personal-left {
        span {
            display: block;
            font-size: 3.75rem;
            line-height: 100%;
            font-family: 'Bebas Neue', cursive;
            font-weight: bold;

            &:nth-of-type(1){
                color: $dark-blue;
            }

            &:nth-of-type(2) {
                color: $mint;
            }
        }
    }

    .personal-right {
        font-size: 14px;
        line-height: 100%;

        p {
            margin: 0;
        }

        ul {
            margin: 0;
            padding: 0;
            position: relative;

            li {
                list-style: none;
                position: relative;
                margin-bottom: 5px;
                padding-left: 30px;

                &::before{
                    position: absolute;
                    content: '';
                    top: 2px;
                    bottom: 2px;
                    left: 0;
                    width: 25px;
                    background-color: $mint;
                }
            }
        }
    }

    > div {
        
        > div {

            &:nth-of-type(1) {
                margin-bottom: 40px;
            }

            &:nth-of-type(2) {
                text-align: center;
                padding-bottom: 15px;
                position: relative;
                margin-bottom: 25px;
    
                span {
                    color: $dark-blue;
                    font-family: 'Bebas Neue', cursive;
                    font-size: 1.5rem;
                }

                &::after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 150px;
                    height: 10px;
                    background-color: $mint;
                }
            }

        }
    }

    .card {
        .card-title {
            background-color: $dark-blue;
            color: white;
            text-align: center;
            margin-bottom: 5px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 1.75rem;
        }
    
        .card-body {
            background-color: $gray;
            padding: 15px;
            font-size: 14px;
            font-weight: 500;
            min-height: 250px;
        }
    }
}

.footer {
    background-color: $gray;
    padding-top: 30px;

    .contact-info {

        > div {
            margin-top: 15px;

            > span {
                display: block;

                &.name {
                    color: $dark-blue;
                    font-weight: bold;
                }
            }
        }

    }

    .got-question {

        > h1 {
            color: $dark-blue;
        }

        > span {
            display: block;
        }

        > div {
            display: inline;
            border-top: 10px solid $mint;
            padding: 15px;
            > span {
                display: inline;
            }
        }

    }

    .contact-form {

        > form {

            > input {
                background-color: $dark-blue;
                margin-bottom: 15px;
                padding: 10px;
                display: block;
                width: 100%;
                color: white;

                &::placeholder {
                    color: white;
                }
            }

            > textarea {
                background-color: $dark-blue;
                padding: 10px;
                display: block;
                width: 100%;
                margin-bottom: 15px;

                &::placeholder {
                    color: white;
                }
            }

            > button {
                background-color: $mint;
                padding: 5px;
                color: white;
                width: 50%;
                float: right;
            }
        }

    }

    .copyright {
        border-top: 3px solid #606060;
        text-align: center;
        padding: 15px;
        margin-top: 15px;
    }
}

@media (min-width: 1800px){
    .slider{
        .slider-img{
            height: 100%;
        }
    }
}

@media (max-width: 1800px){

}

@media (max-width: 1360px){

}

@media (max-width: 1200px){

    body{

        .slider{
            height: auto;

            .slider-title{
                font-size: 70px;
                line-height: 70px;
                padding: 90px 0 90px 0;
            
                .underline{
                    width: 200px;
                }
            }
        }
    }

    .pl-7{
        padding-left: 0;
    }
    
    .pr-7{
        padding-right: 0;
    }
}

@media (max-width: 992px){
    body .slider .slider-title{
        font-size: 60px;
        line-height: 60px;
        padding: 70px 0 70px 0;

        .underline{
            height: 15px;
            width: 150px;
        }
    }

}

@media (max-width: 768px){
    body .slider .slider-title{
        font-size: 30px;
        line-height: 30px;
        padding: 60px 0 60px 0;

        .underline{
            height: 10px;
            width: 100px;
        }
    }
}

@media (max-width: 576px){
    body .slider{

        .right-section{
            h1{
                font-size: 50px;
                line-height: 50px;
            }
        }
        padding-top: 120px;
    }

}